@media screen and (max-width: 800px) {
    section {
        max-width: 100%;
        flex-direction: column;
        gap: 2em;
        display: flex;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    .name {
        font-size: 10px;
    }

    .Menu {
        display: none;
    }

    nav a {
        display: none;
    }

   
}