@media screen and (max-width: 800px) {
    section {
        max-width: 100%;
        flex-direction: column;
        gap: 2em;
        display: flex;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    .name {
        font-size: 10px;
    }

    #Menu {
        display: none;
    }

   .profileImg {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 300px;
   }

   #mobileNav {
        display: flex;
        cursor: pointer;
   }

   .skill {
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-style: solid;
    }

    .trait {
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-style: solid;
    }
}
