html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 20px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Menu {
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    max-width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #555;
    border-radius: 4px;
}

section {
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: #333;
    border-style: groove;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #333;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    transition-duration: 0.4s;
    display: block;
    margin: auto;
    border: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

p1 {
    font-size: 17px;
}

p2 {
    font-size: 20px;
}

#mobileNav {
    display: none;
    flex-direction: row;
    font-size: 25px;
}

.text {
    text-align: center;
    font-size: 18px;
}

.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
}

.skill i {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
}

.skill p {
    margin: 0;
    font-size: 18px;
}

.trait-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.trait {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
}

.trait p {
    margin: 0;
    font-size: 18px;
}

.trait i {
    font-size: 48px;
    color:#333;
    margin-bottom: 10px;
}

.profileImg {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #f4f4f4;
    display: flex;
}

.socials {
    text-align: center;
}

.socials a:hover img{
    cursor: pointer;
    transform: scale(1.2);
}

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.education-school {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
}

.education-desc {
    flex: 1;
    color: white;
}

.education-logo {
    flex-shrink: 0;
    margin-left: 20px;
}

.potchGim {
    width: 200px;
    height: auto;
    border-radius: 50%;
    max-width: 100%;
}

.nwuLogo {
    width: 200px;
    height: auto;
    border-radius: 50%;
    max-width: 100%;
}