html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: white;
}

header {
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    background: linear-gradient(135deg, #091540, #1F2F98);
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    background: linear-gradient(135deg, #091540, #1F2F98);
}

footer {
    color: white;
    text-align: center;
    padding: 0rem;
    bottom: 0;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: xx-large;
    color: white;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

p1 {
    font-size: 20px;
}

.typing {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    font-size: xx-large;
    width: fit-content;
}

@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: black; }
}

.typing::after {
    content: '';
    animation: blink 0.7s infinite;
}

#mobileNav {
    display: none;
    flex-direction: row;
    font-size: 25px;
}

.text {
    text-align: center;
    font-size: 24px;
}

.socials {
    text-align: center;
}

.socials a:hover img{
    cursor: pointer;
    transform: scale(1.2);
}

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.certification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.education-school {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
}

.certification-company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
}

.education-desc {
    flex: 1;
    color: white;
}

.certification-desc{
    flex: 1;
    color: white;
}

.education-logo {
    flex-shrink: 0;
    margin-left: 20px;
}

.certification-logo {
    flex-shrink: 0;
    margin-left: 20px;
}

.potchGim {
    width: 200px;
    height: auto;
    border-radius: 50%;
    max-width: 100%;
}

.nwuLogo {
    width: 200px;
    height: auto;
    border-radius: 50%;
    max-width: 100%;
}